{% trans_default_domain 'front_default' %}

{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% set customTemplate = 'front/'~websiteTemplate~'/actions/faq/template/'~faq.slug~'.html.twig' %}
{% set customTemplateExist = (customTemplate)|fileExist %}
{% set template = customTemplateExist ? 'front/'~websiteTemplate~'/actions/faq/template/'~faq.slug~'.html.twig'
    : 'front/'~websiteTemplate~'/actions/faq/template/default.html.twig' %}

{% if faq.microdata is not empty %}
<!-- Microdata -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
        {% for item in faq.microdata %}
            {% set answer = item.intl.body ? item.intl.body : item.intl.introduction %}
            {
                "@type": "Question",
                "name": "{{ item.intl.title|htmlEntities|raw }}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ answer|htmlEntities|raw }}"
                }
            }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    }
</script>
{% endif %}

<div id="faq-container-{{ faq.slug }}" class="faq-container position-relative">
    {{ macroWebmaster.box({
        title: "Éditer la FAQ"|trans([], 'front_webmaster'),
        role: 'ROLE_FAQ',
        path: path('admin_faqquestion_index', {website: website.id, faq: faq.id})
    }) }}
    {% set accordionId = uniqId() %}
    <div id="accordion-{{ accordionId }}" class="faq-accordion">
        {% for question in faq.questions %}
            {% if question.intl.introduction or question.intl.body or (question.mainMedia.filename is defined and question.mainMedia.filename) %}
                <div class="card bg-transparent text-start border-0{% if not loop.last %} mb-4{% endif %}">
                    <button class="card-header bg-transparent p-0 border-0" id="heading-{{ loop.index~"-"~accordionId }}"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapse-{{ loop.index~"-"~accordionId }}"
                         aria-expanded="true"
                         aria-controls="collapse-{{ loop.index~"-"~accordionId }}">
                        {% set titleForce = question.intl.titleForce ? question.intl.titleForce : 3 %}
                        <h{{ titleForce }} class="title text-white d-flex fw-600 text-start cursor mt-0 mb-0 pb-3">
                            <span class="d-inline-block me-4">{{ question.intl.title|raw }}</span>
                            <i class="icon-chevron-up ms-auto"></i>
                        </h{{ titleForce }}>
                    </button>
                    <div id="collapse-{{ loop.index~"-"~accordionId }}"
                         class="collapse{% if question.open %} show{% endif %}"
                         aria-labelledby="heading-{{ loop.index~"-"~accordionId }}"
                         data-parent="#accordion-{{ accordionId }}">
                        <div class="card-body p-0 pt-4">
                            <div class="content">
                                {% if question.pictogram %}
                                    <div class="pictogram d-inline-block">
                                        {{ asset(question.pictogram)|file({}, {
                                            screensSizes: {
                                                mobile: {width: null, height: 100},
                                                tablet: {width: null, height: 100},
                                                desktop: {width: null, height: 100}
                                            },
                                        }) }}
                                    </div>
                                {% endif %}
                                {% if question.intl.introduction %}
                                    <p class="introduction text-bold">{{ question.intl.introduction|raw }}</p>
                                {% endif %}
                                {% if  question.intl.body %}
                                    <div class="body">{{ question.intl.body|raw }}</div>
                                {% endif %}
                                {% if question.mainMedia %}
                                    <div class="mt-4">
                                        {{ question.mainMedia|file(thumbConfiguration) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>