<!doctype html>

{% set templateName = templateName is defined ? templateName : 'cms' %}
{% set website = website is defined ? website : website() %}
{% set cacheClearDate = website.cacheClearDate is defined and website.cacheClearDate ? website.cacheClearDate|date('Y-m-d') : null %}
{% set configuration = configuration is defined ? configuration : website.configuration %}
{% set websiteTemplate = configuration.template %}
{% set webpack = 'front_'~websiteTemplate|replace({'-': '_'}) %}
{% set isDebug = isDebug() ? "1" : "0" %}
{% set onlyBody = (onlyBody is defined and onlyBody) or (website.security.frontCustomTemplate is defined and website.security.frontCustomTemplate and 'security-back' == templateName) %}

<html lang="{{ app.request.locale }}"
      dir="{{ readingDirection(app.request.locale) }}"
      data-debug="{{ isDebug }}"
      data-cache="{{ cacheClearDate }}"
      data-nonce="{{ csp_nonce() }}">

    {% set trans_domain = 'front_default' %}
    {% trans_default_domain 'front_default' %}

    {% set entity = entity is defined ? entity : null %}
    {% set isUserBack = isUserBack is defined ? isUserBack : false %}
    {% set companyName = "Bank Account Software"|trans|raw %}
    {% set urlId = seo.url.id is defined ? seo.url.id : null %}
    {% set bodyBg = configuration.backgroundColor is defined ? configuration.backgroundColor : null %}
    {% set pageBg = entity.backgroundColor is defined and entity.backgroundColor ? entity.backgroundColor : null %}
    {% set intlMedia = intlMedia is defined and interfaceName is defined and intlMedia.media.filename is defined and interfaceName == 'page' ? intlMedia : null %}
    {% set thumbConfiguration = intlMedia and thumbConfiguration is defined ? thumbConfiguration : {} %}
    {% set bgImgStyle = intlMedia ? intlMedia.mediaRelation|file(thumbConfiguration, {style: true}) : null %}
    {% set haveInternalError = granted('ROLE_INTERNAL') and app.request.session.get('config_error') %}
    {% set stickyColClass = entity.haveStickyCol is defined and entity.haveStickyCol ? ' body-sticky-col'
        : (entityModel.haveStickyCol is defined and entityModel.haveStickyCol ? ' body-sticky-col' : null) %}
    {% set customBodyClass = customBodyClass is defined ? customBodyClass~stickyColClass : stickyColClass %}
    {% set pageClass = entity.catalog.slug is defined ? 'body-'~entity.catalog.slug : (entity.slug is defined ? 'body-'~entity.slug : null) %}
    {% set pageSlug = pageClass ? pageClass~'-page' : null %}

    <head>

        <!-- Metas -->
        <meta charset="{{ configuration.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="include_timeout" content="1">

        {% if seo is defined %}
            {% include 'front/'~websiteTemplate~'/include/seo.html.twig' with {
                website: website,
                configuration: configuration,
                seo: seo,
                seoTitle: seoTitle is defined ? seoTitle : null,
                logos: website.logos,
                companyName: companyName} only %}
        {% else %}
            {% set haveAfterDash = not website.seoConfiguration.disableAfterDash %}
            {% set metaTitle = block('metaTitle') is defined ? block('metaTitle') : (seoTitle is defined ? seoTitle : null) %}
            {% set metaTitle = metaTitle and haveAfterDash ? metaTitle~' - '~companyName : (not metaTitle and haveAfterDash ? companyName : metaTitle) %}
            {% set metaDescription = block('metaDescription') is defined ? block('metaDescription') : '' %}
            {% set metaRobots = block('metaRobots') is defined ? block('metaRobots') : 'index' %}
            {% set metaCanonical = block('metaCanonical') is defined ? block('metaCanonical') : app.request.uri %}
            {% set ogImage = block('ogImage') is defined ? block('ogImage') : null %}
            <title>{{ metaTitle|htmlEntities }}</title>
            <meta name="description" content="{{ metaDescription|htmlEntities }}">
            <meta name="robots" content="{{ metaRobots }}">
            <link rel="canonical" href="{{ metaCanonical }}">
            <meta property="og:locale" content="{{ app.request.locale }}">
            <meta property="og:title" content="{{ metaTitle|htmlEntities }}">
            <meta property="og:description" content="{{ metaDescription|htmlEntities }}">
            <meta property="og:url" content="{{ metaDescription|htmlEntities }}">
            <meta property="og:type" content="website">
            {% if ogImage %}
                <meta property="og:image" content="{{ ogImage }}">
            {% endif %}
        {% endif %}

        {% if website.logos is defined %}
            {% include 'core/favicon.html.twig' with {website: website, logos: website.logos} only %}
        {% endif %}

        <!-- Main Stylesheets -->
        {% block stylesheets %}{% endblock %}

        <!-- Fonts -->
        {% if websiteTemplate|asGoogleFont %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% endif %}
        <link href="{{ asset('build/front/'~websiteTemplate~'/front-'~websiteTemplate~'-fonts.css', webpack) }}" rel="preload" as="style" class="preload-css">

        <!-- Stylesheets -->
        {% if app.debug %}
            {{ encore_entry_link_tags('debug', null, 'vendor') }}
        {% endif %}

        {% if preloadFiles.images is defined %}
            {% for preloadFile in preloadFiles.images %}
                <link rel="preload" href="{{ preloadFile }}" fetchpriority="high" as="image">
            {% endfor %}
        {% endif %}

        {% if preloadFiles.js is defined %}
            {% for preloadFile in preloadFiles.js %}
                <link rel="preload" href="{{ preloadFile }}" as="script" type="application/javascript" crossorigin="anonymous" fetchpriority="high">
            {% endfor %}
        {% endif %}

        <noscript nonce="{{ csp_nonce() }}">
            <div class="alert-no-script bg-primary py-3"><div class="container"><p class="mb-0 text-center fw-700">{{ "Activez JavaScript pour charger plus de contenu interactif."|trans|raw }}</p></div></div>
            {{ encore_entry_link_tags('front-'~websiteTemplate~'-noscript', null, webpack) }}
        </noscript>

    </head>

    <body id="{{ templateName }}-body" tabindex="-1"
          class="{{ bodyClasses(configuration, customBodyClass, entity) }}{% if bodyBg %} {{ bodyBg }}{% endif %}{% if haveInternalError %} internal-error-show{% endif %}"
          data-id="{{ website.id }}"{% if isUserBack %} data-userback="{{ isUserBack }}"{% endif %}>

        <a href="#body-page" class="skip-link btn btn-black">{{ "Aller au contenu principal"|trans|striptags }}</a>
        <a href="#footer" class="skip-link btn btn-black">{{ "Aller au pied de page"|trans|striptags }}</a>

        {% if configuration.preloader %}
            {% include 'front/'~websiteTemplate~'/include/preloader.html.twig' with {logos: website.logos, companyName: companyName} only %}
        {% endif %}

        <div id="content-page"{% if not configuration.fullWidth or pageBg or pageSlug %} class="{% if not configuration.fullWidth %}content-page-box{% endif %}{% if pageBg %} {{ pageBg }}{% endif %}{% if pageSlug %} {{ pageSlug }}{% endif %}"{% endif %}>

            {% if app.session.get('as_switch_user') %}
                {% include 'core/switcher-modal.html.twig' with {website: website} only %}
            {% endif %}

            <main id="body-page" role="main" class="position-relative{% if pageClass %} {{ pageClass }}{% endif %}"{% if bgImgStyle %} style="{{ bgImgStyle }}"{% endif %}>
                {% block body %}{% endblock %}
            </main>

            {% if 'newsletter'|moduleActive(configuration) and not onlyBody %}
                {{ render_esi(path('front_newsletter_view', {filter: 'main', website: website.id} )) }}
            {% endif %}

            {% if not onlyBody %}
                {% include 'front/'~websiteTemplate~'/include/footer.html.twig' with {
                    websiteTemplate: websiteTemplate,
                    configuration: configuration,
                    website: website,
                    urlId: urlId,
                    logos: website.logos,
                    mainPages: mainPages,
                    companyName: companyName,
                    seo: seo is defined ? seo : null
                } only %}
            {% endif %}

        </div>

        {% if 'search'|moduleActive(configuration) and not onlyBody %}
            {{ render_esi(path('front_search_view', {filter: 'main', modal: true, website: website.id} )) }}
        {% endif %}

        {% if haveInternalError and not onlyBody %}
            {% include 'core/webmaster-alert.html.twig' %}
        {% endif %}

{#        {% include 'front/'~websiteTemplate~'/include/recaptcha.html.twig' with {configuration: configuration} only %}#}
        {% include 'front/'~websiteTemplate~'/include/translations.html.twig' only %}

        {% if configuration.scrollTopBtn and not onlyBody %}
            {% include 'front/'~websiteTemplate~'/include/scroll-top-btn.html.twig' with {website: website, websiteTemplate: websiteTemplate} only %}
        {% endif %}

        {{ component('WebmasterBox', {
            interfaceName: interfaceName is defined ? interfaceName : null,
            entityId: entity.id is defined ? entity.id : null,
            entity: entity is defined ? entity : null,
            url: url is defined ? url : null,
        }) }}
        {% include 'core/data-path.html.twig' only %}

        <!-- JavaScripts -->
        {% block javascripts %}
            {% if preloadFiles.js is defined %}
                {% for preloadFile in preloadFiles.js %}
                    <script src="{{ preloadFile }}" type="module" defer crossorigin="anonymous" fetchpriority="high"></script>
                {% endfor %}
            {% endif %}
            {{ jsRouting() }}
        {% endblock %}

    </body>

</html>