{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-'~templateName, null, webpack) }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-'~templateName, null, webpack, {defer: true}) }}
{% endblock %}

{% block body %}
    <div id="content-{{ templateName }}" class="template-page">
        {% include 'front/'~websiteTemplate~'/layout.html.twig' %}
    </div>
{% endblock %}