{% extends "back/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageIcon = 'fal wallet' %}
{% set pageTitle = "Mes comptes"|trans %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="entities-index-page" class="container-fluid pt-4 pb-5 position-relative">
        {% include 'back/new-modal.html.twig' %}
        <div id="entities-index" class="mt-4">
            <table class="table table-striped table-dark">
                <tbody>
                    {% set adminNameAsIndex = false %}
                    {% set indexRoute = false %}
                    {% for route, name in buttons %}
                        {% if 'adminName' == name %}
                            {% set adminNameAsIndex = true %}
                            {% set indexRoute = route %}
                        {% endif %}
                    {% endfor %}
                    {% for entity in pagination %}
                        <tr>
                            {% if referClass.icon is defined %}
                                {% set icon = entity.icon ? entity.icon : 'far exclamation' %}
                                <td class="align-middle text-center media-col">{{ icon|icon(null, 25, 'white') }}</td>
                            {% endif %}
                            <td class="py-3 px-4 align-middle">
                                {% if adminNameAsIndex %}
                                    {% set indexRouteArgs = indexRoute|routeArgs(entity) %}
                                    <a href="{{ path(indexRoute, indexRouteArgs) }}" class="index-link">
                                {% endif %}
                                    {{ entity.adminName|raw }}
                                {% if adminNameAsIndex %}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-end py-3 px-4">
                                {% set route = 'admin_'~interface.name~'_edit' %}
                                {% set routeArgs = route|routeArgs(entity) %}
                                <a href="{{ path(route, routeArgs) }}" class="btn btn-circle btn-black d-inline-flex justify-content-center align-items-center"
                                   data-bs-toggle="tooltip" data-bs-title="{{ "Éditer"|trans|striptags }}">
                                    {{ 'fas pencil'|icon(null, 20, 'white') }}
                                </a>
                                {% include 'back/delete-modal.html.twig' %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'back/includes/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}